.jumbotron {
    background-color:#0288d1;
    color: black;
    margin-top: 50px;
}

footer{
    bottom: 0px;
    width: 100%;
    padding: 10px 10px 0 10px;
    background-color: #5db8ff;
    margin-top: 10px;
}

.card-element{
    flex: 1 250px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    
}

.titulo-productos{
    background-color: #5db8ff;
}

.btn-compra{
    width: 100%;
}

.link{
    color: black;
}
.footer-adress-icon{
    padding-right: 10px;
}
.icon-product{
    padding-right: 10px;
}

.img-principal{
    width: 100%;
    align-content: center;
}